@font-face {
  font-family: "ReadexPro";
  src: url("../public/Readex_Pro/static/ReadexPro-Regular.ttf");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM";
  src: url("../public/IBM_Plex_Sans_Arabic/IBMPlexSansArabic-SemiBold.ttf");
  font-style: normal;
  font-display: swap;
}
:root {
  --mainFont: "ReadexPro", sans-serif;
  --secondFont: "IBM", sans-serif;
  --firstBg: #ffffff;
  --secondBg: #eee;
}
* {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--mainFont);
  direction: rtl;
}
#root {
  overflow: hidden;
  height: fit-content;
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
  height: 100svh;
  font-family: var(--mainFont);
}
#root:has(.end) {
  overflow: unset !important;
}
header {
  background: var(--firstBg);
  display: flex;
  padding: 10px 20px;
  align-items: center;
  justify-content: space-between;
}
header .logo img {
  width: 150px;
}
header h2 {
  position: relative;
  font-size: 20px;
  margin-right: 10px;
  width: fit-content;
  img {
    width: 150px;
    position: absolute;
    bottom: -20px;
    right: -15px;
    transform: scale(0.6);
    animation: scale 1s  infinite  alternate;
  }
  & span {
    width: 10px;
    height: 10px;
    background: #bf844f;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: -18px;
    &:first-child {
      right: -18px;
    }
    
  }
}
@keyframes scale {
  to {
    transform: scale(1);
  }
}

main {
  padding: 10px 15px;
  background: var(--secondBg);
}
::-webkit-scrollbar {
  width: 0px; /* Width of the vertical scrollbar */
}

.foods .card {
  position: relative;
  display: flex;
  padding: 15px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  background: var(--firstBg);
  box-shadow: 0px 0px 15px 1px #bf834f46;
  overflow: hidden;
  
  
}
.foods .card::before {
   content: "";
    position: absolute;
    transform: rotate(-50deg);
    border: 1px solid #bf844f;
    height: 40px;
    top: -16px;
    right: 10px;
}
.foods .card::after {
   content: "";
    position: absolute;
    transform: rotate(-50deg);
    border: 1px solid #bf844f;
    height: 40px;
    top: -11px;
    right: 14px;
}

.tabsContent {
  display: none;
  padding-top: 30px;
}
.tabsContent.active {
  display: grid;
  gap: 20px 0px;
  & .card {
    -webkit-animation: tilt-in-fwd-tr 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: tilt-in-fwd-tr 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
}
.foods .card .text {
  flex: 1;
  h1 {
    font-size: 18px;
    color: #bf844f;
    margin-bottom: 10px;
    font-weight: 600;
  }
  P {
    font-size: 17px;
    width: 90%;
    margin-bottom: 10px;
    color: #777;
    font-family: var(--secondFont);
    line-height: 1.4;
  }
  .price {
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    span {
      text-decoration: underline wavy green;
      margin: 0 0 0 5px;
    }
    .del {
      color: red;
      text-decoration: line-through #000;
    }
  }
}
.foods .card .img {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  overflow: hidden;
  background: #bf844f;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    height:40%;
    transform: translateY(-50%);
    border: 8px solid #ffffff;
    border-radius: 20px;
    left: -5px;
    z-index: 1;
  }
  img {
    transform: scale(1.1) rotate(-3deg);
    animation: rotate 1s infinite alternate-reverse;
    object-fit: cover;
    border-radius: 10px;
    width: 100%;
    height: 100%;
  }
}
/* HTML: <div class="loader"></div> */
.loading {
  width: 100%;
  height: 100vh;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: #00000069;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1;
  transition: 2s;
  backdrop-filter: blur(100px);
}
.end {
  backdrop-filter: blur(0px) !important;
  background: #00000000;
  visibility: hidden;
}
.loader {
  width: 100px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color: #58b025;
  animation: l15 1s infinite linear;
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: l15 2s infinite;
}
.loader::after {
  margin: 8px;
  animation-duration: 3s;
}
@keyframes l15 {
  100% {
    transform: rotate(1turn);
  }
}
@-webkit-keyframes tilt-in-fwd-tr {
  0% {
    -webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px)
      skew(-35deg, 10deg);
    transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px)
      skew(-35deg, 10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-fwd-tr {
  0% {
    -webkit-transform: rotateY(10deg) rotateX(15deg) translate(90px, -90px)
      skew(-15deg, 10deg);
    transform: rotateY(10deg) rotateX(15deg) translate(90px, -90px)
      skew(-15deg, 10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}

.goTop_top {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  left: 30px;
  bottom: 40px;
  background: #c08a5ad0;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 0px 0px rgba(255, 255, 255, 0);
  position: fixed;
  transition: 0.3s;
  transform: scale(0);
  img {
    width: 40px;
    height: 40px;
    pointer-events: none;
    transform: rotate(-90deg);
  }
}

.goTop_top.active {
  transform: scale(1);
}

@keyframes rotate {
  to {
    transform:scale(1.2) rotate(3deg);
  }
}
